################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoMoreCatZ/Debug
/Debug
/Model
/Tensorflow2/lib/tensorflow.dll
/x64/Debug
