################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoMoreCatZ/Debug
/Debug
/Model
/Tensorflow2/lib/tensorflow.dll
/x64/Debug
/OpenCV/bin
/Release
/Tensorflow2/lib/GPU/tensorflow.dll
/x64/Release
