################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoMoreCatZ/Debug
/Debug
/Tensorflow2/lib/tensorflow.dll
/x64/Debug
/OpenCV/bin
/Release
/Tensorflow2/lib/GPU/tensorflow.dll
/x64/Release
/Model/lite
/Model/variables
/Model/variables.old
/Model/saved_model.pb.old
/Model/saved_model.pb
